@model HBKSolution.Models.ProductCategoryViewModel

@{
    ViewBag.Title = "Quản lý loại sản phẩm";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<style type="text/css">
    .product-table td {
        vertical-align: middle;
    }

    .block-with-text {
        display: block;
        display: -webkit-box;
        max-width: 200px;
        max-height: 109.2px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .control-panel {
        display: flex;
        justify-content: flex-end;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    div.dataTables_wrapper {
        /*max-height: 600px;*/
        margin: 0 auto;
        min-width: 600px;
    }
</style>

<div class="form-group control-panel">
    <button type="button"
            class="btn btn-sm btn-primary waves-effect waves-light"
            data-placement="top"
            id="show-add-modal"
            data-original-title="Add item">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</div>

<div class="row">
    <!--Grid column-->
    <div class="col-md-12 my-3 text-left">
        <div class="card">
            <div class="card-body">
                <!-- Shopping Cart table -->
                <div class="table-responsive">
                    <table id="category-manage-table" class="table product-table">
                        <!-- Table head -->
                        <thead class="mdb-color lighten-5">
                            <tr>
                                <th width="40%" class="font-weight-bold text-center">
                                    <strong>Hình ảnh</strong>
                                </th>
                                <th width="30%" class="font-weight-bold text-center">
                                    <strong>Tên</strong>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <!-- /.Table head -->
                        <!-- Table body -->
                        <tbody></tbody>
                        <!-- /.Table body -->
                    </table>
                </div>
                <!-- /.Shopping Cart table -->
            </div>
        </div>
    </div>
    <!--Grid column-->
</div>

<!-- Modal -->
<div class="modal fade" style="top:5%;" id="modal-prod-category" role="dialog">
    <div class="modal-dialog">
        @using (Html.BeginForm("AddOrEditProductCategory", "CategoryManage", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form-product-category" }))
        {
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="moda-prod-category-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="col-lg-12">
                        @Html.HiddenFor(m => m.ProductCategoryId)
                        @Html.HiddenFor(m => m.IsAdd)
                        <div class="form-group">
                            @Html.LabelFor(m => m.ProductCategoryName, "Tên loại sản phẩm: ", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.ProductCategoryName, "", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.FolderName, "Tên mục lưu trữ: ", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.FolderName, "", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <img id="preview" style="width:40%;" src="#" alt="Hình ảnh" />
                        </div>

                        <button hidden="hidden" type="button" id="btn-edit-image" class="btn btn-warning btn-sm">Sửa ảnh</button>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.FileUpload, "", new { @accept = "", @type = "file", @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" id="btn-action" class="btn btn-success btn-sm"></button>
                    @*<button type="button" id="btn-add" class="btn btn-success btn-sm">Thêm</button>*@
                    @*<button type="button" id="btn-edit" class="btn btn-warning btn-sm">Sửa</button>*@
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        }
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var _listCategory = [];
        var $modalTitle = $('#moda-prod-category-title');
        $(document).ready(function () {
            var table = $('#category-manage-table').DataTable({
                "scrollY": "600px",
                "scrollX:": true,
                "paging": false,
                "bSort": false,
                "sDom": "Rlfrtip",
                "scrollCollapse": true,
                "responsive": true,
            });

            $('.dataTables_info').hide();

            $('#category-manage-table_filter label').html('Tìm kiếm:<input type="search" class="" placeholder="Nhập nội dung tìm kiếm..." aria-controls="category-manage-table" />');

            $('.dataTables_empty').text('Không có dữ liệu');

            $('input[type="search"]').on('keyup', $(document), function () {
                var value = this.value.toLowerCase();
                $('tbody').empty();
                if (_listCategory.length) {
                    var listCategory = _listCategory;
                    listCategory = listCategory.filter(function (item) {
                        return item.ProductCategoryName.toLowerCase().search(value) !== -1;
                    });
                    var tr;
                    //Append each row to html table
                    for (var i = 0; i < listCategory.length; i++) {
                        tr = $('<tr/>');
                        var path = listCategory[i].FilePath;
                        if (path) {
                            path = path.substring(2);
                        }
                        tr.append('<td class="text-center" style="display:none;">' + '<p class="cateId">' + listCategory[i].ProductCategoryId + '</p>' + '</td>');
                        tr.append('<td scope="row" class="text-center">' + '<img style="width:50%;" src="../' + path + '" alt="" class="img-fluid z-depth-0">' + '</td>');
                        tr.append('<td class="text-center">' + '<p class="">' + listCategory[i].ProductCategoryName + '</p>' + '</td>');
                        tr.append('<td class="text-center">' + '<button type="button" class="btn btn-sm btn-warning waves-effect waves-light" onclick="onShowEditModal(event)" data-toggle="tooltip" data-placement="top" title="" ' +
                            ' data-original-title="Edit item"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button><button type="button" ' +
                            ' class="btn btn-sm btn-danger waves-effect waves-light" data-toggle="tooltip" data-placement="top" ' +
                            ' title="" onclick="onDeleteCate(event)" data-original-title="Remove item"><i class="fa fa-trash" aria-hidden="true"></i></button>' + '</td>');
                        $('tbody').append(tr);
                    }
                }
            });

            $("#FileUpload").change(function () {
                readIMG(this);
            });

            $('#modal-prod-category').on('hidden.bs.modal', function () {
                resetForm();
            });

            $('#form-product-category').submit(function (event) {
                event.preventDefault();
                if ($(this).valid()) {
                    onBegin();
                    var formdata = new FormData($(this).get(0));
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: formdata,
                        processData: false,
                        contentType: false,
                        success: function (result) {
                            onSuccess(result);
                        },
                        complete: function () {
                            onComplete();
                        },
                        fail: function () {
                            onFailure();
                        }
                    });
                }
                return false;
            });

            $('#show-add-modal').click(function () {
                $modalTitle.text('Thêm loại sản phẩm');
                $('#btn-action').text('Thêm');
                $('#btn-action').removeClass('btn-warning');
                $('#btn-action').addClass('btn-success');
                $('#IsAdd').val(true);
                onShowModal();
            });

            $('#btn-edit-image').click(function () {
                if ($('#FileUpload').is(':hidden')) {
                    $('#btn-edit-image').text('Hủy bỏ');
                    $('#FileUpload').removeAttr('hidden', 'hidden');
                    $('#FileUpload').removeAttr('disabled', 'disabled');
                } else {
                    $('#btn-edit-image').text('Sửa ảnh');
                    $('#FileUpload').attr('hidden', 'hidden');
                    $('#FileUpload').attr('disabled', 'disabled');
                }
            });
        });

        function readIMG(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $(function () {
            //Call Get Product Category Data jsonResult Method
            $('tbody').empty();
            $.post('@Url.Action("GetAllProductCategory", "Product")',
            function (result) {
                if (result.listProdCategory) {
                    var listCategory = result.listProdCategory;
                    _listCategory = listCategory;
                    var tr;
                    //Append each row to html table
                    for (var i = 0; i < listCategory.length; i++) {
                        tr = $('<tr/>');
                        var path = listCategory[i].FilePath;
                        if (path) {
                            path = path.substring(2);
                        }
                        tr.append('<td class="text-center" style="display:none;">' + '<p class="cateId">' + listCategory[i].ProductCategoryId + '</p>' + '</td>');
                        tr.append('<td scope="row" class="text-center">' + '<img style="width:50%;" src="../' + path + '" alt="" class="img-fluid z-depth-0">' + '</td>');
                        tr.append('<td class="text-center">' + '<p class="">' + listCategory[i].ProductCategoryName + '</p>' + '</td>');
                        tr.append('<td class="text-center">' + '<button type="button" class="btn btn-sm btn-warning waves-effect waves-light" onclick="onShowEditModal(event)" data-placement="top" ' +
                            ' data-original-title="Edit item"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button><button type="button" ' +
                            ' class="btn btn-sm btn-danger waves-effect waves-light" data-toggle="tooltip" data-placement="top" ' +
                            ' title="" onclick="onDeleteCate(event)" data-original-title="Remove item"><i class="fa fa-trash" aria-hidden="true"></i></button>' + '</td>');
                        $('tbody').append(tr);
                    }
                }
            });
        });

        function onDeleteCate(e) {
            e = e || window.event;
            var $target = $(e.currentTarget).closest('tr');
            var categoryId = $target.find('.cateId').text();
            var cate = _listCategory.find(function (item) {
                return item.ProductCategoryId == categoryId;
            });
            bootbox.confirm({
                message: "Bạn muốn xóa loại sản phẩm: " + cate.ProductCategoryName + "?",
                buttons: {
                    confirm: {
                        label: 'Đồng ý',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Hủy bỏ',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.blockUI();
                        $.post('@Url.Action("DeleteCategoryById", "CategoryManage")', { categoryId: categoryId }, function (result) {
                            if (result.success) {
                                var index = _listCategory.findIndex(function (item) {
                                    return item.ProductCategoryId == categoryId;
                                });
                                if (index > -1) {
                                    _listCategory.splice(index, 1);
                                }
                                $('input[type=search]').trigger("keyup");
                                bootbox.alert('Xóa thành công!');
                            }
                        }).always(function () {
                            $.unblockUI();
                        }).fail(function () {
                            bootbox.alert('Vui lòng thử lại');
                        });
                    }
                }
            });
        }

        function onShowEditModal(e) {
            e = e || window.event;
            $modalTitle.text('Sửa thông tin loại sản phẩm');
            $('#btn-action').text('Sửa');
            $('#btn-action').addClass('btn-warning');
            $('#btn-action').removeClass('btn-success');
            $('#FileUpload').attr('disabled', 'disabled');
            $('#FileUpload').attr('hidden', 'hidden');
            $('#btn-edit-image').removeAttr('hidden', 'hidden');
            var $target = $(e.currentTarget).closest('tr');
            var categoryId = $target.find('.cateId').text();
            $('#IsAdd').val(false);
            $.blockUI();
            $.post('@Url.Action("GetProductCategoryById","Product")', { categoryId: categoryId }, function (result) {
                if (result.success) {
                    var category = result.category;
                    var path = '../' + category.FilePath.substring(2);
                    $('#ProductCategoryName').val(category.ProductCategoryName);
                    $('#preview').attr('src', path);
                    $('#ProductCategoryId').val(category.ProductCategoryId);
                    $('#FolderName').val(category.FolderName);
                    $('#FolderName').attr('disabled', 'disabled');
                } else {
                    bootbox.alert('Vui lòng thử lại');
                }
            }).always(function () {
                $.unblockUI();
            }).fail(function () {
                bootbox.alert('Vui lòng thử lại');
            });
            onShowModal();
        }

        function onShowModal() {
            $('#modal-prod-category').modal('show');
        }

        function onHideModal() {
            $('#modal-prod-category').modal('hide');
        }

        function resetForm() {
            $('#form-product-category')[0].reset();
            $('#form-product-category').find('input').removeClass('input-validation-error');
            $('#FolderName').removeAttr('disabled');
            $('#preview').attr('src', '');
            $('#FileUpload').removeAttr('disabled', 'disabled');
            $('#FileUpload').removeAttr('hidden', 'hidden');
            $('#btn-edit-image').attr('hidden', 'hidden');
            $('#btn-edit-image').text('Sửa ảnh');
        }

        function onSuccess(result) {
            if (result.success) {
                if (result.IsAdd) {
                    _listCategory.unshift(result.category);
                    bootbox.alert('Thêm thành công!');
                } else {
                    var index = _listCategory.map(obj => obj.ProductCategoryId).indexOf(result.category.ProductCategoryId);
                    if (index > -1) {
                        _listCategory.splice(index, 1);
                        _listCategory.unshift(result.category);
                        bootbox.alert('Sửa thành công!');
                    }
                }
                $('input[type=search]').trigger("keyup");
                onHideModal();
                resetForm();
            } else {
                bootbox.alert('Vui lòng thử lại!');
            }
        }

        function onFailure() {
            bootbox.alert('Vui lòng thử lại!');
        }

        function onBegin(e) {
            $.blockUI();
        }

        function onComplete() {
            $.unblockUI()
        }
    </script>
}
