@model HBKSolution.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng ký tài khoản";
}

<style>
    .navbar {
        background-color: rgb(46, 57, 81) !important;
    }

    .nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 15px;
        }

    .nav-tabs > li > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: #555;
        cursor: default;
        background-color: #fff !important;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

    .nav-tabs > li > a:hover {
        border-color: #eee #eee #ddd;
    }

    .nav > li > a:focus, .nav > li > a:hover {
        text-decoration: none;
        background-color: #eee;
    }

    .active a {
        font-weight: 500;
    }
</style>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $('#carousel-fullpage').css('height', '0vh');
        });
    </script>

}

<h2 class="my-2 pt-5">@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Tạo tài khoản mới.</h4>
            <hr />
            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
            <div class="form-group">
                @Html.LabelFor(m => m.Email, "Email", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, "Mật khẩu", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, "Xác nhận mật khẩu", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <p style="font-style:italic; color:red;padding-left:15px;padding-right:15px;">(*) Mật khẩu phải bao gồm chữ cái, số, và ký tự đặc biệt.</p>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Đăng ký" />
                </div>
            </div>
        }
    </div>
</div>
