@using HBKSolution.Services

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- font-awesome css -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet">
    <!-- custom styles downloaded  -->
    <link href="~/css/style.min.css" rel="stylesheet">
    <!-- custom sites styles -->
    <link href="~/Content/Site.min.css" rel="stylesheet">
    <!-- layout css -->
    <link href="~/Content/_layout_css/layout.min.css" rel="stylesheet">
    <!-- data table css -->
    <link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />

    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <style>
    </style>
</head>
<body class="hidden-sn mdb-skin">

    <!-- Navbar -->
    @Html.Partial("_Navbar")
    <!-- Navbar -->
    <!--Carousel Wrapper-->
    @Html.Partial("_Carousel")
    <!--/.Carousel Wrapper-->
    <!--Main layout-->
    <main style="padding:30px 0 35px 0;">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <!--Main layout-->
    <!--Footer-->
    @Html.Action("Footer", "Home")
    <!--/.Footer-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    <!-- bootbox alert JavaScript -->
    <script src="~/Scripts/bootbox.js"></script>
    <!-- block ui JavaScript -->
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <!-- data table JavaScript -->
    <script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
   
    @Scripts.Render("~/bundles/modernizr")
    <!-- respond JavaScript -->
    @Scripts.Render("~/Scripts/respond.js")


    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
<noembec></noembec>
